name: API Automation CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Java 11
        uses: actions/setup-java@v4
        with:

          distribution: 'temurin'
          java-version: '11'

      - name: Run Maven tests
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
          USER_ID: ${{ secrets.USER_ID }}
          NAME: ${{ secrets.NAME }}
          DESCRIPTION: ${{ secrets.DESCRIPTION }}
        run: mvn clean test

